
@{
    ViewData["Title"] = "Home Page";
}

<h2 class="text-center">My Collections</h2>

<p> Hello and welcome to my collections. This app is designed to display a simple database with forgein keys.</p>
<p> This app uses MySql using the root user with password of `MyNewPass` or change it in the appsetting.json file in the mySqlConnection string</p>
<p> Please ensure you can run <strong>mysql</strong> command in terminal or command line and you have ran the following command: <strong>mysql -u root -p < CreateDatabase.bat</strong></p>
<p> Note: Ports may be off. Each homepage is assigned https://localhost:PORT/collections</p>

<p class="h5">Current Front Ends</p>
<ul>
    <li><a href="https://localhost:44334/collections">Asp.net Windows (Port: 44334)</a></li>
    <li><a href="https://localhost:5001/collections">Asp.net Mac (Port: 5001)</a></li>
</ul>

