@model AspNet.Models.Collection

@{
    ViewData["Title"] = "Collections Show Page";
}
<h1>Show Collection</h1>

    <div class="row">
        <div class="col-4">
            <span class="h3">@Model.Name</span>
        </div>
        <div class="col-4">
            <span class="h3">Collected: @Model.Collected / @Model.Total</span>
        </div>
        <div class="col-4">
            <a asp-action="index" class="btn btn-primary float-right ml-2">Back</a>
            <a asp-action="edit" asp-route-id=@Model.CollectionId class="btn btn-warning float-right">Edit</a>
        </div>
    </div>
    <hr/>
    <span class="h3">Items</span>
