<p class="h1">My Collections</p>

<div style="margin-bottom: 10px;">
<a href="./collections/new" class="btn btn-primary" style="color: white">New</a>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Collected</th>
        <th style="width:70px">Actions</th>
    </tr>
    
    <tr *ngFor="let collection of collections$">
      <td>{{collection.Name}}</td>
      <td>{{collection.Collected}} / {{collection.Total}}</td>
      <td><a href="./collection/{{collection.CollectionId}}/items" class="btn btn-info" style="color: white">Info</a></td>
    </tr>
</table>